nav {
    text-align: right;
    line-height: 70px;
}

.logo {
    display: flex;
    margin-left: 16px;
}
#search-form {
    margin: 5px 0px;
}
.container {
    width: calc(200px * 4 + 3em);
    margin: auto;
}

.results {
    columns: 4;
}

.item {
    width: 200px;
    margin-bottom: 1em;
}
