.video {
    width: 365px;
    height: 191px;
    margin: 28px 0px 0px 15px;
}

.video-frame {
    margin: 0 auto;
    margin-top: 30px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.style-frame {
    display: inline-block;
    margin: auto;
}

#record,
#stop {
    margin: 16px 12px 16px 275px;
    padding: 5px;
    display: flex;
}

#stop {
    color: #ffffff;
    background-color: #ff6161;
}

.camara-icon {
    margin: 2px 10px 0px 0px;
}

.timer-icon {
    margin-right: 5px;
}

.video-frame::before {
    content: "Un Chequeo Antes de Empezar";
    display: block;
    margin-left: 2px;
    color: white;
    padding-left: 5px;
    background: linear-gradient(
        90deg,
        rgba(65, 128, 240, 1) 12%,
        rgba(247, 201, 243, 1) 89%
    );
}

.linea {
    margin-right: 10px;
}

#captura-gif {
    width: 721px;
    height: 391px;
    margin: auto;
    margin-bottom: 180px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.captura-gif-title {
    margin-top: 3%;
    background: linear-gradient(
        90deg,
        rgba(65, 128, 240, 1) 12%,
        rgba(247, 201, 243, 1) 89%
    );
}
#captura-gif-title::before {
    content: "Guifo Subido Con Éxito";
    color: white;
    margin-left: 2px;
    margin-top: 20px;
}

#captura-gif-title-o {
    margin-top: 3%;
    background: linear-gradient(
        90deg,
        rgba(46, 50, 251, 1) 12%,
        rgba(238, 62, 254, 1) 89%
    );
}

#captura-gif-title-o::before {
    content: "Guifo Subido Con Éxito";
    color: white;
    margin-left: 2px;
    margin-top: 20px;
}

.botonGif {
    display: inline-grid;
    float: right;
    margin: 40px 60px 0px 0px;
}

.botones-gif {
    width: 256px;
    height: 36px;
    background-color: #fff4fd;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.botonUpload {
    background-color: #fff4fd;
    margin: auto;
    position: relative;
    left: -16px;
    top: 17px;
    width: 95%;
    height: 80%;
    text-align: center;
}

.cancelar-subida {
    width: 20%;
    height: 37%;
    position: relative;
    left: 549px;
    bottom: -66px;
}

.globe-img {
    margin: auto;
}

.descargar-gif {
    margin-top: 14px;
    margin-bottom: 75px;
}

.title-save {
    font-weight: bold;
}

#resultadosmisgifs {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 80%;
    margin: auto;
}

.descargar-gif:hover,
.copiar-enlace:hover {
    background-color: #dfdbdb;
}
